@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.modal-content {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}